@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-210px * 5));
	}
}

.slide-track {
	animation: scroll 10s linear infinite;
	display: flex;
	min-width: 100%;
}

.slide {
	height: 64px;
	width: 128px;
}
